<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sparenziweb" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :admin, "data-turbolinks-track": "reload" %>


    <%= javascript_include_tag "turbo", type: "module" %>
    <%= javascript_include_tag "admin", "data-turbo-track": "reload", type: "module" %>

    <link rel="icon" href="<%= asset_url("favicon.ico") %>"> 
  </head>

  <body data-controller="toast">
    <%= render "layouts/admin/sidebar" %>
    <div class="fixed pl-80 inset-0 flex overflow-y-auto">

      <div class="main">
        <%= render "admin/shared/bread_crumbs" %>
        <%= yield %>
      </div>

    </div>
  </body>
</html>
