<div class="desktop-nav">
  <%= link_to raw("&nbsp;#{@about_page.translate.title}&nbsp;"), page_path(@about_page.slug), 
    aria: { current: path_is_active?(@about_page.page_translations.map { |slug| page_path(slug) }) },
    class: "nav-link text-2xl" %>

  <% if current_user.blank? %>
    <%= link_to t("devise.login"), new_user_session_path,
      class: "nav-link text-2xl" %>

    <%= link_to t("devise.register"), new_user_registration_path,
      class: "nav-link text-2xl" %>
  <% else %>
    <%= link_to t("dashboard"), user_root_path,
      class: "nav-link text-2xl" %>

    <%= link_to t("devise.edit"), user_accounts_path,
      class: "nav-link text-2xl" %>

    <%= link_to t("devise.logout"), destroy_user_session_path,
    data: { turbo_method: :delete },
    class: "nav-link text-2xl" %>
<% end %>

<% if I18n.available_locales.size > 1 %>
  <div class="desktop-language-switch">
    <button type="button"
            class="nav-link text-2xl flex items-center w-28 gap-2 rounded-md px-4 py-2 bg-primary-100 focus:outline-none focus:ring-2 focus:ring-secondary-500"
            id="locale-menu-button"
            aria-expanded="false"
            aria-haspopup="true"
            onclick="document.getElementById('locale-menu').classList.toggle('hidden')">
      <%= I18n.locale.upcase %>
      <svg class="w-5 h-5 ml-1" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </button>
    <div id="locale-menu"
         class="hidden absolute text-4xl z-10 mt-4 w-28 origin-top-right rounded-md bg-primary-100 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
         role="menu"
         aria-orientation="vertical"
         aria-labelledby="locale-menu-button"
         tabindex="-1">
      <% I18n.available_locales.reject { |locale| locale == I18n.locale }.each do |locale| %>
        <%= link_to locale.upcase, prepare_url(locale),
          class: "block px-2 py-2 text-2xl text-black hover:bg-primary-200 hover:text-secondary-600 rounded-md hover:ring-2 hover:ring-secondary-500",
          role: "menuitem",
          tabindex: "-1" %>
      <% end %>
    </div>
  </div>
<% end %>
